body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    background: #44474B;
    color: #FFDBC7
}

h3 {
    margin-top: 0
}